@import "tailwindcss";

@theme {
  --color-*: initial;
  /* Brand Colors */
  --color-brand-primary: #3171C6;
  --color-brand-primary-light: #64A3FF;
  --color-brand-primary-dark: #1D4E94;
  --color-brand-accent: #FFBC4B;

  /* Neutral Colors */
  --color-neutral-white: #FFFFFF;
  --color-neutral-black: #2D2D2D;
  --color-neutral-gray-100: #F5F5F5;
  --color-neutral-gray-200: #E5E5E5;
  --color-neutral-gray-300: #D6D6D6;
  --color-neutral-gray-400: #9E9E9E;

  /* Text Colors */
  --color-text-primary: #1C1C1C;
  --color-text-secondary: #4D4D4D;
  --color-text-inverted: #FFFFFF;
  --color-text-link: #3171C6;
  --color-text-link-hover: #1D4E94;
  --color-text-link-visited: #5B3BB7;

  /* Background Colors */
  --color-bg-default: #FFFFFF;
  --color-bg-surface: #FAFAFA;
  --color-bg-overlay: #000000; /* Nota: Geralmente usado com opacidade */
  --color-bg-dark: #2D2D2D;

  /* Border Colors */
  --color-border-default: #E5E5E5;
  --color-border-hover: #64A3FF;
  --color-border-focus: #3171C6;
  --color-border-muted: #D6D6D6;

  /* Interactive Colors */
  --color-interactive-default-bg: #3171C6;
  --color-interactive-hover-bg: #64A3FF;
  --color-interactive-active-bg: #1D4E94;
  --color-interactive-disabled-bg: #D6D6D6;
  --color-interactive-default-text: #FFFFFF;
  --color-interactive-disabled-text: #9E9E9E;

  /* Feedback Colors */
  --color-feedback-success: #4CAF50;
  --color-feedback-warning: #FFC107;
  --color-feedback-error: #F44336;

  /* Font Family */
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply antialiased;
    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}